
<div class="container-fluid" style="margin-bottom: 100px;">
            <div class="row mt-4">
                <div class="col">
                    <h3 class="text-primary bold">Welcome</h3>
                </div>
              
                    
            </div>           
            <div class="row mt-4 mb-2">
                <div class="col">
                    <h5 class="bold">
                        Medicine List
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered border-light">
                        <thead class="thead-light">
                          <tr>
                          
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Medicine Name</th>
                            <th scope="col" class="text-black-50 border-left-0 border-right-0 ">Brand </th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Price</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Quantity</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Expiry</th>
                            <th scope="col" class="text-black-50 border-left-0">View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" colspan="7" *ngIf="!(medicines?.length > 0)"> No medicine data available yet</th>
                          </tr>
                          <tr  *ngFor="let medicine of medicines;let i = index">
                            <th scope="row">{{medicine.name}}</th>
                            <td>{{medicine.brand}}</td>
                            <td>{{medicine.price}}</td>
                            <td>{{medicine.quantity}}</td>
                            <td>{{medicine.expiry | date:'medium'}} </td>
                            <td><a href="" class="text-primary">View</a></td>                            
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</div>