<app-header></app-header>
<div class="container-fluid" style="margin-bottom: 100px;">
            <div class="row mt-4">
                <div class="col">
                    <h3 class="text-primary bold">Welcome Andrew</h3>
                </div>
              
                    
                </div>
            </div>
            <div class="row mt-4 mb-2">
                <div class="col">
                    <h5 class="bold">
                        Medicine List
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered border-light">
                        <thead class="thead-light">
                          <tr>
                          
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Medicine Name</th>
                            <th scope="col" class="text-black-50 border-left-0 border-right-0 ">Brand </th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Price</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Quantity</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Expiry</th>
                            <th scope="col" class="text-black-50 border-left-0">View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" colspan="7" *ngIf="!(medicines?.length > 0)"> No reports data available yet</th>
                          </tr>
                          <tr  *ngFor="let report of reports;let i = index">
                            <th scope="row">#{{medicines.name}}</th>
                            <td>{{report.brand}}</td>
                            <td>{{report.price}}</td>
                            <td>{{report.quantity}}</td>
                            <td>{{report.expiry | date:'medium'}} </td>
                            <td><a href="" class="text-primary">View</a></td>
                            <td>...</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4 mb-2">
                <div class="col">
                    <h5 class="bold">
                        ERM Approved Reports
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered border-light">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col" class="text-black-50 border-right-0">Report ID</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Report Title</th>
                            <th scope="col" class="text-black-50 border-left-0 border-right-0 ">Client Name</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Created By</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">Last Updated</th>
                            <th scope="col" class="text-black-50 border-right-0 border-left-0">View/Continue</th>
                            <th scope="col" class="text-black-50 border-left-0">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" colspan="7"> No approved reports available yet</th>
                          </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
          </div>